<?xml version="1.0" ?>
<config>
    <modules>
        <Welance_Kraken>
            <version>2.0.0</version>
        </Welance_Kraken>
    </modules>
    <global>
        <blocks>
            <welance_kraken>
                <class>Welance_Kraken_Block</class>
            </welance_kraken>
        </blocks>
        <helpers>
            <welance_kraken>
                <class>Welance_Kraken_Helper</class>
            </welance_kraken>
        </helpers>
        <models>
            <welance_kraken>
                <class>Welance_Kraken_Model</class>
                <resourceModel>welance_kraken_resource</resourceModel>
            </welance_kraken>
            <welance_kraken_resource>
                <class>Welance_Kraken_Model_Resource</class>
                <entities>
                    <!-- only needed for install script 0.1.0, to prevent error -->
                    <image>
                        <table>kraken_image_queue</table>
                    </image>
                    <images_media>
                        <table>kraken_media_images</table>
                    </images_media>
                    <images_skin>
                        <table>kraken_skin_images</table>
                    </images_skin>
                    <image_cache>
                        <table>kraken_image_cache</table>
                    </image_cache>
                </entities>
            </welance_kraken_resource>
            <catalog>
                <rewrite>
                    <product_image>Welance_Kraken_Model_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>
        <events>
            <controller_action_predispatch_adminhtml_system_config_edit>
                <observers>
                    <welance_kraken_image_check_version>
                        <class>welance_kraken/observer</class>
                        <method>checkVersion</method>
                    </welance_kraken_image_check_version>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_edit>
            <admin_system_config_section_save_after>
                <observers>
                    <welance_kraken_image_check_plan>
                        <type>singleton</type>
                        <class>welance_kraken/observer</class>
                        <method>checkPlan</method>
                    </welance_kraken_image_check_plan>
                </observers>
            </admin_system_config_section_save_after>
            <catalog_product_image_save_after>
                <observers>
                    <welance_kraken_cache>
                        <class>welance_kraken/observer</class>
                        <method>optimizeCacheImage</method>
                    </welance_kraken_cache>
                </observers>
            </catalog_product_image_save_after>
            <clean_catalog_images_cache_after>
                <observers>
                    <welance_kraken_flush_image_cache>
                        <class>welance_kraken/observer</class>
                        <method>cacheRedirect</method>
                    </welance_kraken_flush_image_cache>
                </observers>
            </clean_catalog_images_cache_after>
        </events>
        <resources>
            <welance_kraken_setup>
                <setup>
                    <module>Welance_Kraken</module>
                </setup>
            </welance_kraken_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Welance_Kraken after="Mage_Adminhtml">Welance_Kraken</Welance_Kraken>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <welance_kraken>
                    <file>kraken.xml</file>
                </welance_kraken>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <welance_kraken>
                <use>standard</use>
                <args>
                    <module>Welance_Kraken</module>
                    <frontName>kraken</frontName>
                </args>
            </welance_kraken>
        </routers>
        <layout>
            <updates>
                <welance_kraken>
                    <file>kraken.xml</file>
                </welance_kraken>
            </updates>
        </layout>
    </frontend>
    <default>
        <welance_kraken>
            <kraken_config>
                <backup>1</backup>
                <compression>0</compression>
                <quality>80</quality>
                <concurrency>4</concurrency>
                <frontend_concurrency>3</frontend_concurrency>
            </kraken_config>
        </welance_kraken>
    </default>
</config>